@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import 'inputs';
@import 'header';
// @import 'contact';

$primary-color: #333;

    * {
    box-sizing: border-box;
    // border: 1px solid red;
    margin: 0;
    padding: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
// Main content styles
main {
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    section {
      margin-bottom: 40px;
      
      h2 {
        margin-bottom: 20px;
      }
    }
}

  #about-me {
    background-image: url('./images/banner_bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 50vh;
    color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;

    &:before {
        content: "";
        background-image: url('./images/banner_corner1.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;
        position: absolute;
        top: -5px;
        width: 100%; /* adjust to your image's size */
        height: 400px; /* adjust to your image's size */
        }
        

    &:after {
      content: "";
      background-image: url('./images/banner_corner2.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right bottom;
      position: absolute;
      bottom: -5px;
      width: 100%; /* adjust to your image's size */
      height: 400px; /* adjust to your image's size */
      }
}
  
  .about-me-text {
    margin: 0;
    color: #f2f2f2;
    position: relative;
    max-width: 400px;
  }
  
  .about-me-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 10%;
    @media (min-width: 768px) {
      flex-direction: row;
      padding: 0 20%;
    }
  }
  
  
  .profile-image {
    height: 100%;
  }
  
  .profile-wrapper {
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: -30px;
  -webkit-aspect-ratio: 2/3;
  aspect-ratio: 2/3;
  }
  
  .artwork-container {
    position: relative;
    z-index: 4;
    column-count: 3;
    column-gap: 0;
  }
  
  .artwork-item {
    display: inline-block;
    width: 33vw;
    max-width: 100%;
    margin: 0;
    padding: 1%;
  }  

  .artwork-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .artwork-grid {
    display: grid;
    
  }
    

footer {
  background-image: url("./images/header-bg.jpg");
  background-size: cover;
  text-align: center;
  width: 100%;
  color: #f2f2f2;
  a {
    text-decoration: none;
    color: #f2f2f2;
    
    &:hover {
      transition: color .5s;
      color: #8ec1ab;
    }
}
  ul {
    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  li {
    display: flex;
  }
  p {
    padding-bottom: 10px;
  }
  img {
    width: 35px;
    padding-right: 10px;
  }
}